<div class="wrapper">
  <div class="container">
    <div class="formContainer">
      <h1>Create your account</h1>
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="form">
        <mat-form-field appearance="fill">
          <mat-label>Full name</mat-label>
          <input id="fullName" matInput formControlName="fullName">
        </mat-form-field>
      
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input id="email" matInput formControlName="email">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input id="password" matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Occupation</mat-label>
          <mat-select formControlName="occupation">
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>State</mat-label>
          <mat-select formControlName="state">
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>
        <button type="submit" [disabled]="!profileForm.valid">Submit</button>
      </form>
    </div>
  </div>
</div>
