// media query for mobile app responsive design if required
// some companies prefer to prioritize mobile first, in this case developer would write css using media query.
// while majority companies prioritize destop/laptop first then mobile second.

// main color
$color-white: white;
// $color-black: black;
$color-grey: #00000066;

// rem is by definition units dictate an element's font size relative to the size of the root element
// best pratice for responsive web design
// 1rem = 16px
$xxs-size: 2px;
$s-size: 1rem;
$m-size: 2rem;
$l-size: 5rem;

// SCSS allow nested selectors
// why nested selectors? easy to read and maintain. 
// some developer prefer to write seperate selectors while other prefer nested selectors. 
.wrapper {
  // center content in middle of the screen
  display: flex;
  align-items: center;
  justify-content: center;

  // width and height size == screen size
  height: 100vh;
  width: 100vw;

  background-color: $color-grey;
  z-index: 0;

  .container{
    // setup width and height size of content: 600px X 650px
    width: 37.5rem; // 600px/16 = 37.5rem 
    height: 40.265rem; // 650px/16 = 40.265rem
    border-radius: $s-size; // 16px
    background-color: $color-white;

    // content overlap background color
    z-index: 1;

    .formContainer{
      padding: $l-size; // 80px
      
      .title{
        font-size: $m-size; // 32px
        font-weight: bold;
        letter-spacing: $xxs-size;
        margin-bottom: $m-size; // 32px
        text-shadow: 1px 0 $color-grey;
        color: $color-grey;
      }

      form{
        // display content in column using flex
        display: flex;
        flex-flow: column nowrap;
        
        button{
          width: 35%;
          height: 2.8rem; //44.8px
          background-color: $color-grey;
          color: $color-white;
          border-radius: 5px;
          text-shadow: 1px 0 $color-white;
          margin-top: $m-size; // 16px
          font-size: 1.1rem;
          font-weight: bold;
        }
        
        button:hover {
          filter: drop-shadow(0 0 $xxs-size $color-grey);
          text-shadow: 1px 0 $color-grey;
          background-color: $color-white;
          color: $color-grey;
          font-size: 1.1rem;
          font-weight: bold;

          cursor: pointer;
        }
      }
    }
  }
}